
body{
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
}

.nav-item > a{
  color:hsl(252, 5%, 56%);
}

.content{
  height:520px;
  margin-top:25px;
}

.content > .row {
  height: 520px;
}

.content > .row > .col-8{
  height: 520px;
  padding-right:10px;
}

.content > .row > .col-8 > img{
  width:100%;
}

.btn-read{
  background:hsl(5, 86%, 63%);
  border-radius: 0;
}

.content > .row > .col-4{
  height: 520px;
  background:hsl(240, 100%, 5%);
}