

body{
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
}

/* NavBar */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

header{
  display: flex;
  justify-content:space-around;
  padding: 1rem 0;
  align-items: center;
}

.logo{
  display: flex;
  align-items: center;
}

.nav_list{
  display: flex;
  align-items: center;
}

.nav_item{
  margin: 0 8px;
}

.nav_link{
  padding: 10px;
  color:hsl(252, 5%, 56%);
  font-size: 0.9rem;
  font-weight: 400px;
}

.nav_link:hover{
  color:hsl(35, 77%, 62%);
}

.header_toggle,
.header_close{
  display: none;
}

/* End Navbar */

.content{
  height:520px;
  margin-top:25px;
}

.content > .row {
  height: 520px;
}

.content > .row > .col-8{
  height: 520px;
  padding-right:10px;
}

.content > .row > .col-8 > img{
  width:100%;
}

.content_text{
  padding-top: 20px;
}

#heading{
  width:100%;
  padding: 20px 20px;
}

#heading h2{

  padding:0 25px;
  font-size: 3.0rem;
  font-weight:800;
}

#text-line {
  padding: 20px 20px;
}

#text-line p{
  text-align: left;
  font-size: 0.8rem;
  padding: 10px 15px;
  color: hsl(270, 4%, 80%);
}

#text-line a{
  margin-left:15px;
  color: #fff;
}

#text-line a:hover{
  background:hsl(240, 100%, 5%);
}

.btn-read{
  background:hsl(5, 86%, 63%);
  border-radius: 0;
}

.content > .row > .col-4{
  height: 520px;
  background:hsl(240, 100%, 5%);
}

.content > .row > .col-4 > h3{
  font-size: 2.2rem;
  color:hsl(35, 77%, 62%);
  padding-top:20px;
  padding-left:15px;
}

.content > .row > .col-4 > .col-sm{
  margin: 15px 5px;
  padding: 15px 10px;
  border-bottom: 1px solid hsl(270, 4%, 80%);
}

.content > .row > .col-4 > .col-sm:nth-child(4){
  border: none;
}

.content > .row > .col-4 > .col-sm > a{
  font-size: 1.25rem;
  color: #fff;
  padding-left: 5px;
  text-decoration-line: none;
}

.content > .row > .col-4 > .col-sm > a:hover{
  color:hsl(35, 77%, 62%);
}

.content > .row > .col-4 > .col-sm > p{
  font-size: 0.9rem;
  color: hsl(270, 4%, 80%);
  padding-top:10px;
  padding-left: 5px;
}

.post{
  margin-top: 30px;
}

.post > .row > .col-sm > img{
  width: 100px;
  height: 130px;
  padding-top: 10px;
  padding-right:10px;
  float: left;
}

.content_post a{
  font-size: 1.0rem;
  font-weight: 700;
  color: #000;
  text-decoration-line:none;
}

.content_post a:hover{
  color: hsl(5, 86%, 63%);
}

.content_post p{
  font-size: 0.8rem;
  color:hsl(270, 4%, 80%);
}

#number{
  font-size: 1.8rem;
  font-weight: 700;
  color:hsl(270, 4%, 80%);
}

.attribution{
  margin-top: 20px;
}