

body{
  margin-left: 190px;
  margin-right: 190px;
  margin-top: 50px;
}

/* NavBar */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

header{
  display: flex;
  justify-content:space-around;
  padding: 1rem 0;
  align-items: center;
}

.logo{
  display: flex;
  align-items: center;
  padding-left: 25px;
}

.nav_list{
  display: flex;
  align-items: center;
  padding-left: 490px;
}

.nav_item{
  margin: 0 10px;
}

.nav_link{
  padding: 10px;
  color:hsl(252, 5%, 56%);
  font-size: 0.9rem;
  font-weight: 400px;
}

.nav_link:hover{
  color:hsl(35, 77%, 62%);
}

.header_toggle,
.header_close{
  display: none;
}

/* End Navbar */

/* Content */

.content{
  height:420px;
  margin-top:25px;
}

.first_col{
  padding: 0 5px;
}

.img_col img{
  width:100%;
}

.content_text{
  padding-top: 20px;
}

.heading{
  padding: 20px 0;
}

.heading h2{
  padding: 0 10px;
  font-size: 2.5rem;
  font-weight:800;
}

.text-line {
  padding: 20px 10px;
}

.text-line p{
  text-align: left;
  font-size: 0.7rem;
  padding: 5px 45px;
  padding-right: 10px;
  color: hsl(270, 4%, 80%);
}

.text-line a{
  color: #fff;
  margin-left:45px;
}

.text-line a:hover{
  background:hsl(240, 100%, 5%);
  color: #fff;
}

.btn-read{
  background:hsl(5, 86%, 63%);
  border-radius: 0;
}

/* ------------------- */

.new_col{
  height:400px;
  background:hsl(240, 100%, 5%);
}



.new_col > .col-sm{
  margin: 15px 5px;
  padding: 15px 0x;
  border-bottom: 1px solid hsl(270, 4%, 80%);
}

.new_col > .col-sm:nth-child(4){
  border: none;
}

.new_col > .col-sm > a{
  font-size: 1.1rem;
  color: #fff;
  padding-left:5px;
  text-decoration-line: none;
}

.new_col > .col-sm > a:hover{
  color:hsl(35, 77%, 62%);
}

.new_col > .col-sm > p{
  font-size: 0.85rem;
  color: hsl(270, 4%, 80%);
  padding-top:5px;
  padding-left: 5px;
}

/* end Content */ 

.post{
  padding:0;
  margin-top:40px;
}

.post_img{
  width: 30%;
  float: left;
}

.post_img img{
  width: 100%;
  height: 100px;
}

.content_post {
  float: right;
  width: auto;
  text-align: left;
}

.content_post a{
  font-size: 1.0rem;
  font-weight: 700;
  color: #000;
  text-decoration-line:none;
  padding-left:5px;
}

.content_post a:hover{
  color: hsl(5, 86%, 63%);
}

.content_post p{
  font-size: 0.8rem;
  color:hsl(270, 4%, 80%);
  padding-left:5px;
}

#number{
  font-size: 1.8rem;
  font-weight:700;
  color:hsl(270, 4%, 80%);
  margin: 0;
  padding:0;
  padding-left:5px;
}

.attribution{
  margin-top: 20px;
}